{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <style type="text/css"></style>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/foundation-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script>
        JavaScript:window.history.forward(1);
    </script>
</head>
<body>
    <div class="off-canvas-wrapper" >
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <!--navbar vertical-->
            <div class="grid-container">
            </div>
            <ul class="vertical menu">
                <li class="menu-text"><h1>{% if web_settings %}{{ web_settings.web_name }}{% else %}网站名称{% endif %}</h1></li>
                <li class="has-submenu">
                    <a href="{% url 'mysite:post_list' %}"><b>所有文章</b></a>
                    <ul class="submenu menu vertical" data-submenu style="margin-left:20px; ">
                        {% for cate in cates_list %}
                        <li><a href="{% url 'mysite:post_list_by_cate' cate_slug=cate.id %}">{{ cate.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="{% url 'mysite:about' %}"><b>关于</b></a>
                </li>

            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <!--top navbar-->
            <div class="grid-container">
                <div class="title-bar hide-for-medium">
                    <div class="title-bar-left">
                        <div class="title-bar-title">Welcome to my blog</div>
                    </div>
                    <div class="title-bar-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                        <div class="title-bar-title"></div>
                    </div>
                </div>
                <div class="top-bar" id="responsive-menu">
                    <div class="top-bar-left">
                        <ul class="dropdown menu" data-dropdown-menu >
                            <li class="menu-text">{% if web_settings %}{{ web_settings.web_name }}{% else %}网站名称{% endif %}</li>
                            <li class="has-submenu ">
                                <a href="{% url 'mysite:post_list' %}" {% block target %}target="_parent"{% endblock%}>文章列表</a>
                            </li>
                            <li class="has-submenu hide">
                                <a href="" >其他</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{% url 'mysite:about' %}">关于</a>
                            </li>
                            
                        </ul>
                    </div>
                    <!--
                    <div class="top-bar-right">
                        <ul class="menu">
                            <li><input type="search" placeholder="Search"></li>
                            <li><button type="button" class="button">Search</button></li>
                        </ul>
                    </div>
                        -->
                </div>
            </div><!--top navbar-->
            <br />
            <!--contents-->
            {% block contents %}{% endblock %}

            <hr style="border:1px solid #555 ;"/>

            <div class="footer text-center" style="">
                {% if web_settings %}{{ web_settings.web_footer_body|safe }}{% else %}网站底部信息{% endif %}
            </div>
            <br />
        </div>
    </div>
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.form.js' %}"></script>
        <script src="{% static 'js/vendor/what-input.js' %}"></script>
        <script src="{% static 'js/vendor/foundation.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% block jscontent %}{% endblock %}
        {% block jssidebar %}{% endblock %}

</body>
</html>
